@charset "UTF-8";
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .content-container {
    flex-direction: column;
  }
  .hero_banner {
    width: 90vw;
    height: 50vh;
    padding: 5px;
    margin: 5px auto;
  }
  .hero_banner img {
    max-height: 30vh;
    width: auto; /* Mantiene la relación de aspecto de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
  .web-design {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
  }
  .carrusel-uno img {
    width: 100%;
    height: auto; /* Asegúrate de que la imagen mantenga su proporción */
  }
  .cards-icon {
    flex-direction: column;
    align-items: center;
  }
  .cards-icon .card-item-servicios {
    max-width: 90%;
    margin: 10px 0;
  }
  footer {
    padding: 0 15px;
  }
  footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer nav {
    justify-content: space-around;
    padding: 0 50px;
  }
  footer nav ul {
    flex-direction: column;
    gap: 15px;
    padding: 0 50px;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .hero_banner {
    height: 60vh;
  }
  .content-container {
    flex-direction: column;
  }
  .ultra-regular {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .hero_banner {
    height: 50vh;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .gallery-item {
    flex: 0 0 48%;
    max-width: 100%;
  }
  .cards-icon {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 10px;
    width: 100%;
  }
  .hero_banner {
    width: 90vw;
    height: 40vh;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .content-container {
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
  }
  .text-card {
    max-width: 100%;
  }
  .cards-icon {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 375px) {
  .navbar {
    flex-direction: column;
  }
  .hero-title {
    font-size: 1.3rem;
  }
  .cards-icon {
    flex-direction: column;
    gap: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e6e3e3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  overflow-x: hidden;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  color: #0a0808;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 30px 20px;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: auto;
  padding: 15px;
  background-color: #e6e3e3;
  border-radius: 8px;
  flex-grow: 1;
  overflow: hidden;
}

.hero_banner {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 10px;
  margin: 10px 0;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.hero_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 1%;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.imagen-container {
  flex: 1;
  text-align: center;
}

.texto-card {
  text-align: justify;
  padding: 20px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin-top: 10px;
}

.card-item {
  max-width: 100%;
  height: auto;
}

#carrusel {
  width: 100%;
  max-width: 400px;
  margin: 10px auto 20px;
}
#carrusel .carousel-item {
  flex: 0 0 100%;
}
#carrusel .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#cards p {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
#cards h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  color: #333;
}

.cards-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.cards-icon .card-item-servicios {
  flex: 1 1 300px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
.cards-icon .card-item-servicios img {
  max-width: 40%;
  height: auto;
  align-items: center;
}
.cards-icon .card-item-servicios h2 {
  margin: 10px 0;
}
.cards-icon .card-item-servicios p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-container {
  padding: 15px;
}

.web-design h2 {
  text-align: left;
  margin: 20px 0 50px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.gallery-item {
  flex: 0 0 48%;
  margin-bottom: 20px;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  padding: 30px;
  background-color: #CAB3E7;
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 9px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  padding: 10px 20px;
  border-radius: 8px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}
nav ul li a:hover {
  background-color: rgba(227, 212, 245, 0.6431372549);
  color: #E3D4F5;
  border-color: #6341a7;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 2px;
}

.icon-white {
  width: 35;
  height: 35;
  filter: brightness(0) invert(1); /* Cambia el color a blanco */
}

footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  background-color: transparent;
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #CAB3E7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .redes {
  margin: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .iconos img {
  width: 24px;
  height: 24px;
}
footer nav {
  margin-bottom: 10px;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 40px 0 40px;
}
footer nav ul li {
  display: inline-block;
}
footer nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}
footer p {
  font-size: 0.8rem;
  margin: 5px 0;
  text-align: center;
}
footer .menu {
  text-align: center;
}

#form {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 30px;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
#form label {
  margin-bottom: 6px;
  color: #333;
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
}
#form input[type=text],
#form input[type=tel],
#form input[type=email],
#form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}
#form input[type=text]:focus,
#form input[type=tel]:focus,
#form input[type=email]:focus,
#form textarea:focus {
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
#form input[type=submit] {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #CAB3E7;
  color: #0a0808;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#form input[type=submit]:hover {
  background-color: #a5a3a5;
}
#form div {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
#form div a {
  font-size: 0.8rem;
  color: #555;
  text-decoration: none;
  transition: color 0.3s ease;
}
#form div a:hover {
  color: rgba(0, 0, 0, 0.1);
}

.faq {
  margin-top: 100px;
  margin-bottom: 50px;
}

.accordion-button {
  background-color: #e6e3e3; /* Color de fondo para el botón de pregunta */
  color: #212529; /* Color del texto del botón de pregunta */
  border: none; /* Sin borde */
}

.accordion-button:focus {
  box-shadow: none; /* Sin sombra al hacer foco */
}

.accordion-button.collapsed {
  background-color: #ffffff; /* Color de fondo cuando está colapsado */
}

.accordion-collapse .accordion-body {
  background-color: rgba(194, 197, 197, 0.6235294118); /* Color de fondo para el cuerpo de respuesta */
  color: #212529; /* Color del texto de respuesta */
  border: 1px solid #bee5eb; /* Borde para el cuerpo de respuesta */
  border-radius: 0.25rem; /* Bordes redondeados */
}

.image-zoom {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 8px;
}

.image-zoom:hover {
  transform: scale(1.05);
}

:root {
  --animate-delay: 2s;
}

/*# sourceMappingURL=styles.css.map */
