@import 'utilities/variables';

.faq {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .accordion-button {
    background-color: $background-color;
    color: $primary-bg-color; 
    border: none; 
  }
  
  .accordion-button:focus {
    box-shadow: none; 
  }
  
  .accordion-button.collapsed {
    background-color: $text-color; 
  }
  
  .accordion-collapse .accordion-body {
    background-color: $background-color-answer; 
    color: $primary-bg-color; 
    border: 1px solid $border-color-answer; 
    border-radius: 0.25rem; 
  }
  