footer {
    
    text-align: center;
    margin-top: auto;
    width: 100%;
    background-color: transparent;

    .footer-container {
        max-width: 1200px; 
        margin: 0 auto; 
        padding: 10px 20px; 
        background-color:  $secondary-bg-color;
        border-radius: 10px;
    }

    .redes {
        margin: 15px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .iconos{
        
        img {
            width: 24px;
            height: 24px;
        }
    }

    nav {
        margin-bottom: 10px;

        ul {
            list-style-type: none;
            display: flex;
            justify-content:space-around;
            gap: 10px;
            padding: 0 40px 0 40px;

            li a {
                color: #ffffff;
                text-decoration: none;
                font-size: 0.9rem;
            }
        }
    }

    p {
        font-size: 0.8rem;
        margin: 5px 0;
    }

    .menu{
        text-align: center;
    }
}
