// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  overflow-x: hidden; 
}

.ultra-regular {
  font-family: $font-ultra-regular;
  font-weight: 400;
  color: $text-color-black; 
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.poppins-semibold-italic {
  font-family: $font-poppins-semibold-italic;
  font-weight: 600;
  font-style: italic;
  margin: 30px 20px;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1200px; 
  height: fit-content;
  margin: auto; 
  padding: $padding; 
  background-color: $background-color; 
  border-radius: 8px; 
  flex-grow: 1;
  overflow: hidden; 
}

.hero_banner {
  position: relative;
  width: 100%;
  height: 70vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 10px;
  margin: 10px 0;
  background-position: center;
  background-size: cover;
  overflow: hidden; 

  img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 1%;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto;
  max-width: 800px; 
  padding: 20px; 
}

.imagen-container {
  flex: 1;
  text-align: center;
}

.texto-card {
  text-align: justify;
  padding: 20px; 
  max-width: 400px; 
  background: $texto-card; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px $shadow-color;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  margin-top: 10px; 
}

.card-item {
  max-width: 100%;
  height: auto; 
}

#carrusel {
  width: 100%;
  max-width: 400px;
  margin: 10px auto 20px;

  .carousel-item {
    flex: 0 0 100%;

    img {
      width: 100%;
      height: auto; 
      object-fit: contain; 
    }
  }
}

#cards {
  display: flex;
  flex-wrap: wrap; // Permite que las tarjetas se acomoden en varias filas
  justify-content: center;
  align-items: flex-start; // Alinea al inicio en lugar de centrarlas
  gap: 30px;
  text-align: center;
  margin-top: 40px; 
  margin-bottom: 40px; 

  p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px; 
    font-size: 2.5rem;
    color: $title-service;
    ; 
  }
}

.cards-icon {
  display: flex;
  flex-wrap: wrap; // Permite que las tarjetas se acomoden en varias filas
  justify-content: center; // Centra las tarjetas
  margin: 20px 0;

  .card-item-servicios {
    flex: 1 1 300px; // Cada tarjeta ocupa al menos 300px de ancho
    margin: 10px; 
    padding: $padding;
    text-align: center;
    box-shadow: 0 4px 8px $shadow-color;
    max-width: 300px; // Ancho máximo para mantener las tarjetas manejables

    img {
      max-width: 40%; 
      height: auto;
      align-items: center;
    }

    h2 {
      margin: 10px 0; 
    }

    p {
      margin: 0; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }
  }
}

.title-container {
  padding: $padding;
}

.web-design h2 {
  text-align: left;
  margin: 20px 0 50px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px; 
  margin: 0 auto;
  gap: 20px;
}

.gallery-item {
  flex: 0 0 48%; 
  margin-bottom: 20px; 
}

.gallery-image {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px $shadow-color; 
}