.conteiner{
    display: grid;
    grid-template-columns: 10fr 20fr 10fr;
    column-gap: 20px;
    text-align: center;
    align-items: center;
}   

.conteiner header{
    background-color: antiquewhite;
    padding: 20px;
}

.conteiner main{
    background-color: aqua;
    padding: 20px;
}

.conteiner footer{

    background-color: blueviolet;
    padding: 20px;
}

@media (max-width:768px){
    .conteiner{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
    }
}
.container-fluid{
    
    background-color: rgb(64, 233, 129);
    border-color: black; 
    padding: 10px;
}
/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.img {
    position: relative;
    top: 20px;
    bottom: 20px;
    width: 50%;
    height: auto;
    
}
.p{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 50px;
}
*/